.App {
  text-align: center;
  background-color: beige;
}

.event-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-details {
  width: 45%;
}

.map {
  width: 50%;
  height: 400px;
}

@media (max-width: 768px) {
  .event-container {
    flex-direction: column;
  }

  .event-details {
    width: 100%;
  }

  .map {
    width: 100%;
    height: 200px;
  }
}

.event-container {
  margin-bottom: 20px;
}

/* YelpComponent.css */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.restaurant-card {
  width: calc(25% - 10px);

  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Image styling */
.restaurant-card img {
  max-width: 100%;
  height: auto;
}

/* Media query for smaller screens (adjust as needed) */
@media (max-width: 768px) {
  .restaurant-card {
    width: calc(50% - 10px);
    /* For medium screens, show 2 columns */
  }
}